<div class="p-2">
  <h1>Editando Tema</h1>
</div>

<%= render "form", theme: @theme %>

<br>

<div class="mb-3 ms-2">
  <%= link_to "Detalhes", @theme, :class => "btn btn-primary p-2"%>
  <%= link_to "Voltar", themes_path, :class => "btn btn-primary p-2" %>
</div>
