<div id="<%= dom_id author %>">
  <p>
    <strong>Proper name:</strong>
    <%= author.proper_name %>
  </p>

  <p>
    <strong>Signature:</strong>
    <%= author.signature %>
  </p>

  <div class="pb-3">
    <div class="border border-black p-3">
      <strong>Livros do Autor:</strong>
      <% @author.books.each do |book| %>
        <p><%= book.book_name %></p>
      <% end %>
    </div>
  </div>

</div>
