<h1>Editar Empréstimo</h1>

<%= render "form", loan: @loan %>

<br>

<div class="mb-3 ms-2">
  <%= link_to "Detalhes", @loan, :class => "btn btn-primary p-2" %>
  <%= link_to "Voltar", loans_path, :class => "btn btn-primary p-2" %>
</div>